<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Главная страница</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image" href="/static/images/main.png">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/output.css') }}"> -->
</head>
<body class="h-screen w-screen bg-blue-400">

<div class="flex flex-row h-full w-full justify-end">
    <div id="model" onClick="window.open('http://127.0.0.1:5000/model');"
         class="flex flex-col basis-1/3 outline outline-2  outline-offset-2 cursor-pointer filter hover:shadow hover:contrast-200">
        <img src="/static/images/dababy.jpg" class="basis-3/4 bg-amber-500 pointer-events:none"/>
        <div class="basis-1/4 font-sans bg-gray-300">Модель по анализу</div>
    </div>

    <div id="BAZA" onClick="window.open('https://disk.yandex.ru/d/5FZl68HB2iJCIg');"
         class="flex flex-col basis-1/3 cursor-pointer filter hover:shadow hover:contrast-200">
        <img src="/static/images/papka.jpg" class="basis-3/4 bg-amber-500"/>
        <div class="place-content-center basis-1/4 font-sans bg-gray-300">
            <span>База фотографий</span>
        </div>
    </div>


    <div id="about" onclick="window.open('http://127.0.0.1:5000/about');"
         class="flex flex-col basis-1/3 outline outline-2 outline-offset-2 cursor-pointer filter hover:shadow hover:contrast-200">
        <img src="/static/images/cool_guys.jpg" class="h-3/4 basis-3/4 bg-amber-500" alt=""/>
        <div class="basis-1/4 font-sans bg-gray-300">О нас</div>
    </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script> -->
</body>
<style>
    img {
        pointer-events: none;
    }
</style>
</html>

