<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/output.css') }}">
</head>
<body class="h-screen w-screen bg-blue-400">
    <div class="flex flex-row h-screen w-screen">
        <div class="bg-blue-400 basis-1/4">01</div>
        <div class="basis-1/4">02</div>
        <div class="basis-1/2">03</div>
    </div>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>#}
</body>
</html>