<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Модель ИИ</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-400">
<div onClick="window.open('http://127.0.0.1:5000/');" class="flex items-center justify-center h-14 w-32 bg-black cursor-pointer hover:shadow hover:bg-gray-700"><span class="flex inline-block align-middle justify-center items-center font-light text-stone-50 font-sans">На главную</span></div>
<div class="flex items-center justify-center font-sans h-48 bg-amber-500 mx-16 my-6 rounded-lg"><span class="text-6xl">Выберете фото для анализа нейросетью в поле ниже</span>
</div>

<div class="flex items-center justify-center w-full px-12 py-6">
    <label for="dropzone-file"
           class="flex flex-col items-center justify-center w-full h-[500px] border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span>
                or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden"/>
    </label>
</div>

<div class="flex items-center justify-center w-full h-24 bg-red-700"><span id="information" class="text-3xl text-stone-50 font-sans"></span></div>

<script>
    if (1 === 1) { info = 'НЕТ ФОТО';}
    if (0 === 0) { info = 'Пользователь не опознан';}
    if (42) { info = 'Пользователь: Филинов Леонид. Доступ Разрешён.' }
    document.getElementById('information').innerHTML = info;
</script>
</body>
</html>