<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Модель ИИ</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <link rel="icon" type="image" href="/static/images/ai.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-blue-400">
<div onClick="window.open('http://127.0.0.1:5000/');"
     class="flex items-center justify-center place-content-center mx-2 my-2 h-20 w-48 bg-black cursor-pointer hover:shadow hover:bg-gray-700"><span
        class="flex mx-2 justify-center items-center font-light text-3xl text-stone-50 font-sans">На главную</span>
</div>
<div class="flex items-center justify-center font-sans h-24 bg-amber-500 mx-16 my-6 rounded-lg"><span class="text-6xl">Выберете фото для анализа нейросетью в поле ниже</span>
</div>
<form id="uploadForm" class="flex items-center justify-center" enctype="multipart/form-data">
    <input type="file" name="photo" id="PhotoInput">
    <input type="button" class="bg-white h-12 w-48" value="Загрузить" onclick="uploadPicture()">
</form>
<div class="flex items-center justify-center">
    <div class="h-[500px] w-[400px]" id="preview"></div>
</div>
<div class="flex items-center justify-center w-full mt-8 mb-3 h-20 bg-red-700 rounded-lg"><span id="information"
                                                                                                 class="text-3xl text-stone-50 font-sans"></span>

</div>
<script>
    const photoInput = document.getElementById('PhotoInput');
    const preview = document.getElementById('preview');

    // При изменении выбранного файла обновляем предпросмотр
    photoInput.addEventListener('change', function () {
        const file = photoInput.files[0]; // Получаем выбранный файл

        // Создаем объект FileReader для чтения содержимого файла
        const reader = new FileReader();

        // Когда файл будет полностью прочитан, обновляем предпросмотр
        reader.onload = function (e) {
            const image = new Image(); // Создаем новый элемент <img>
            image.src = e.target.result; // Загружаем файл в <img>
            preview.innerHTML = ''; // Очищаем предпросмотр
            preview.appendChild(image); // Добавляем <img> в предпросмотр
        };

        // Читаем содержимое выбранного файла как URL-адрес
        reader.readAsDataURL(file);
    });

    function uploadPicture() {
        var form = document.getElementById('uploadForm');
        var formData = new FormData(form);

        $.ajax({
            url: '/upload',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#result').text(response);
                $('#photoInput').val('');
            }
        })

    }
</script>


<script>
    function check() {
        alert('В процессе работы');
        //     console.log(document.getElementById('preview').files[0].name);
        //    if (!(document.getElementById('preview').src)) {
        //       info = 'НЕТ ФОТО';
        //   }
        //   if ((document.getElementById('preview').files[0].name).includes('Leonid')) {
        //        info = 'Пользователь: Филинов Леонид. Доступ Разрешён.';
        //   }
        //   if ((document.getElementById('preview').files[0].name).includes('Sasha')) {
        //      info = 'Пользователь: Евдокимов Александр. Доступ Разрешён.';
        //   }
        //   else {
        //       info = 'Пользователь неопознан. Доступ не разрешён';
        //   }
        //   document.getElementById('information').innerHTML = info;
    }

</script>
</body>
<style>
    img {
        pointer-events: none;
    }
</style>
</html>